<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing = "true"/>
    </settings>
  </system.net>
  <appSettings>
    <add key="APIToken" value="token"/>
    <add key="APIURL" value="apiUrl"/>
  </appSettings>
</configuration>